.apptTable{
    flex:6;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.tableWrapper{
    border-radius: 15px;
    width: 95%;
    height: 95%;
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
    background-color: #fff;
    padding: 10px;
}
.tableContainer{
    height: 100%;
}