.sidebar{
    flex: 1;
    background-color: #212529;
    position: sticky;
    height: calc(100vh - 62px);
}
.sidebarWrapper{
    padding: 0px;
}
.sidebarWrapperList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebarWrapperListItem{
    padding: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sidebarWrapperListItem:hover{
    background-color: #3c3e40;
}
.active{
    background-color: #3c3e40;
}
.sidebarWrapperListItemIcon{
    margin-right: 13px;
}