
.login-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(15, 23, 43, .9), rgba(15, 23, 43, .9) ),
  url('./Assets/bg-login.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  padding-top: 6em;
}

form {
  padding: 18px;
}